<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BCSZeroToJobReady"
        tools:targetApi="31">
        <activity
            android:name=".English_Grammar_Phrases"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".English_Grammar_Noun"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".English_Grammar_Gerund"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".English_Grammar_Determiner"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".English_Grammar_Compound_Word"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".English_Grammar_Conjunction"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".English_Grammar_Conditional"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".English_Grammar_Basic_Verb"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".English_Grammar_Alternative"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".English_Grammar_Agreement"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".About_Developer"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".English_Grammar_Adverb"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".English_Grammar_Adjective"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BCS_Preliminary_English_Syllabus"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BCSMarksDistribution"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>